@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Mooli&family=Bitter:wght@100;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Set the background color */
  background-color: #e4e4e7;

  /* Apply the background image */
  background-image: url(../public/textures/tic-tac-toe.webp);

  /* Ensure the image repeats seamlessly */
  background-repeat: repeat;

  /* Set the initial background position */
  background-position: 0% 0%;

  /* Create an infinite scroll animation */
  animation: scrollBackground 100s linear infinite;
}

/* Define the keyframes for the scrolling animation */
@keyframes scrollBackground {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 100% 0%;
  }
}


h3 {
  font-family: 'Mooli', sans-serif;
  font-weight: 100;
  font-size: 12px;
  opacity: 60%;
}

h2 {
  font-family: 'Bitter', serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
}

input,
select {
  font-family: 'Bitter', serif;
  font-size: 12px;
}


.header {
  font-family: 'Bitter', serif;
  font-weight: 400;
}

.header-bold {
  font-family: 'Bitter', serif;
  font-weight: 600;
}

.subtext {
  font-family: 'Mooli', sans-serif;
  font-weight: 100;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  width: 10px;
  scroll-margin: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-width: 10px;
  border-radius: 10px;
}